* {
  box-sizing: border-box;
}

#app {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgb(30, 33, 39);
  color: rgb(155, 162, 178);
  font-family: Roboto;
}

.event-cover {
  display: flex;
  height: 80%;
  width: 80%;
}

.event-cover > .brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  flex: 2;

  background-color: #ff9966;

  padding: 3em;
}

.event-cover > .brand > svg {
  height: 10em;
  width: 10em;
}

.event-cover > .brand > svg > g {
  fill: #FFF;
}

.event-cover > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 3;

  font-size: 1.5em;
  background-color: black;

  padding: 3em;
}
