.wrapper
	width calc(100vw - 2rem)
	max-width 62rem
	padding 1rem 0
	margin 1rem auto

.row
	margin 0 -0.5rem
	display flex
	justify-content space-between
	align-items stretch
	flex-wrap wrap
	> *
		flex 0 0 auto
		margin 0 0.5rem
