.control-panel {
  display: flex;
  width: 90%;

  margin-top: 2em;
}

.control-panel > .color {
  display: flex;
  flex-direction: column;
}

.control-panel > .color > h3 {
  padding: 0;
  margin: 0;
}

.control-panel > .color > select {
  margin-top: 1em;
}
