.control-panel {
  display: flex;
  justify-content: space-around;
  width: 90%;

  margin-top: 2em;
}

.control-panel > .color {
  display: flex;
  flex-direction: column;
}

.control-panel > * > h3 {
  padding: 0;
  margin: 0;
}

.control-panel > * > .input {
  margin-top: 1em;
}

.control-panel > * > textarea {
  resize: none;
  height: 4em;
  width: 64ch;

  padding: .5em;
}

.control-panel > .submit {
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 3px;

  color: currentColor;
  margin-top: 2.17em; /* h3 + 1em */
  padding: 0 3ch;

  cursor: pointer;
}

.control-panel > .submit:hover {
  border-color: #FFF;
  color: #FFF;
}
