.label
	display flex
	flex-direction column
	align-items stretch
	> h4
		font-weight 300
		line-height 1
		margin 1rem 0 0.25rem

.controls
	flex 1 0 auto

.body
	composes label
	position relative
	flex 11 1 30rem
	min-height 8rem
	textarea
		flex 1
		resize vertical
		padding-right 3rem

.button
	display block
	text-align center
	line-height 2.5rem
	font-size 1rem
	position absolute
	width auto
	appearance none
	bottom 0.25rem
	right 0.25rem
	height 3rem
	width 3rem
	border 0px
	border-radius 50% 0 3px 0
	cursor pointer
	background currentColor
	padding 0.5rem 0 0 0.5rem
	text-shadow rgba(0,0,0,0.5) 0 0 1px
	box-shadow 0.25rem 0, 0 0.25rem, 0.25rem 0.25rem
	.label:focus-within &
		border-bottom-right-radius 2px
		box-shadow 3px 0, 0 3px, 3px 3px
		&:focus
			border-bottom-right-radius 1px
			box-shadow 3px 0, 0 3px, 3px 3px, 1.25px 1.25px 0px 4.75px #71adeb

