.wrapper a
	color currentColor
	text-decoration none

.hr
	appearance none
	border 0
	border-top 2px solid currentColor
	opacity 0.5
	display block
	margin-top 0
	margin-bottom 1rem
	padding 0
	height 0
	width calc(100% - 1rem)
