@font-face
	font-family 'Source Code Pro'
	font-weight 400
	font-style normal
	font-stretch normal
	src url('/assets/fonts/SourceCodePro-Regular.woff2') format('woff2')

body
	all unset
	-webkit-text-fill-color initial
	font normal 16px/20px -apple-system, sans-serif
	background #1e2127
	color #bcd
	box-sizing border-box

*, *::after, *::before
	box-sizing inherit

input, select, textarea
	display block
	font-family 'Source Code Pro', serif
	font-weight 400
	font-style normal
	font-stretch normal
	border 0px solid white

input, select
	height 1.5rem
	line-height 1.5rem

svg
	display block
