@font-face
	font-family 'Source Code Pro'
	font-weight 400
	font-style normal
	font-stretch normal
	src url('/assets/fonts/SourceCodePro-Regular.woff2') format('woff2')

body
	all unset
	-webkit-text-fill-color initial
	font normal 16px/20px -apple-system, sans-serif
	background #1e2127
	color #bcd
	box-sizing border-box

*, *::after, *::before
	margin 0
	padding 0
	box-sizing inherit

input, select, textarea
	appearance none
	background white
	color #1e2127
	display block
	font normal 400 1rem/1.25rem 'Source Code Pro', serif
	border 1px solid #ccc
	border-radius 3px
	padding 5px

svg
	display block

*:focus
	outline none
	box-shadow 0 0 0 2px #71adeb
	border-color #71adeb
	border-radius 3px
